body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: calc(100vh - 100px);
    margin: 0;
    overflow: hidden; /* Ensure content doesn't overflow */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://www.shutterstock.com/image-photo/beautiful-young-woman-paying-her-260nw-2068509182.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px); /* Adjust the blur value as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust alpha value for transparency */
    z-index: -1; /* Ensure the overlay is behind the content */
}
.calculator-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 400px;
}
h1{
    font-family:"Helvetica", sans-serif;
    text-align: center;
}
label{
    margin: 10px 0px;
}

p, label{
    font-family:"Helvetica", sans-serif;
    font-size: 20px;
}
input {
    padding: 5px;
    font-size: 15px;
    font-family: "Helvetica", sans-serif;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgb(168, 170, 168);
    box-sizing: border-box; /* Include padding and borders in the height */
    line-height: 40px;
}

#calculate-button {
    margin-top: 10px;
    height: 40px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: rgb(38, 123, 38);
    border: 2px solid rgb(38, 123, 38);
    border-radius: 3%;
    line-height: 60px; /* Center text vertically */
    text-align: center; /* Center text horizontally */
    padding: 0; /* Avoid padding affecting height */
    box-sizing: border-box; /* Include border in height calculation */
    display: flex; /* For precise centering */
    justify-content: center;
    align-items: center;
}
#calculate-button:hover {
    background-color: #45a049;
  }
